.fondo {
    background-image: url(https://st2.depositphotos.com/3268541/6058/v/950/depositphotos_60585611-stock-illustration-vintage-styled-barber-shop-seamless.jpg)


}

.ancho{
width: 80%;
padding: 0px 0px 0px 20%;
}

.inicio{
margin-left: 10%;


}